#cloud-config
package_update: true
packages:
  - curl
  - wget
  - cron
  - ipset

runcmd:
  # setup initialization script
  - until curl -sSL https://gitlab.com/ametysti/cloud-init/-/raw/main/init.sh -o /tmp/init.sh; do sleep 2; done
  - chmod +x /tmp/init.sh
  - TS_AUTH_KEY="" /tmp/init.sh

  # setup cdn-whitelist and crontab
  - until curl -sSL https://gitlab.com/ametysti/cloud-init/-/raw/main/cdn-whitelist.sh -o /opt/cdn-whitelist.sh; do sleep 2; done
  - chmod +x /opt/cdn-whitelist.sh
  - /opt/cdn-whitelist.sh
  - crontab -l | { cat; echo "0 * * * * /opt/cdn-whitelist.sh >/dev/null 2>&1"; } | crontab -